@font-face {
    font-family: 'Comic Sans';
    src: url('../../fonts/ComicSansMS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Lobster';
    src: url('../../fonts/Lobster.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arial';
    src: url('../../fonts/ArialMT.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  